/* Adjust the position of the section when jumping to it */
#Introduction {
    padding-top: 50px; 
    margin-top: -50px; 
}

#Experience {
    padding-top: 50px;
    margin-top: -50px; 
}

#Skills {
    padding-top: 50px;
    margin-top: -50px; 
}

#Projects {
    padding-top: 50px;
    margin-top: -50px; 
}

#Free {
    padding-top: 50px;
    margin-top: -50px; 
}

#Education {
    padding-top: 50px;
    margin-top: -50px; 
}

/* Adjust format and color of buttons */
button {
    background-color: #5385b7; /* steel blue */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #306FAD; /* astral blue */
    color: white;
}

button a {
    color: white;
}

button a:hover {
    color: white;
}

.gallery div {
    text-align: center;
}

.gallery img {
    width: 80%;
    height: auto;
}

/* puts text in a new line */
.new-line {
    display: block;
    margin-bottom:10px
}
